form {
    border: 1px solid #c3828b;
    border-radius: 3px;
    padding: 40px;
    color: #c3828b;
}

input {
    padding: 5px 20px;
    width: 100%;
    line-height: 16px;
    margin: 10px 0;
    color: #c3828b;
}
