<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Test</title>
</head>

<body>

  <header>
      Sentiment Analysis
  </header>

  <main>
    <section>
      <form class="" onsubmit="return Client.handleSubmit(event)">
        <input id="name" type="text" name="input" value="" placeholder="Valid URL of news or blogs">
        <input type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)"
          onsubmit="return handleSubmit(event)">
      </form>
    </section>

    <section>
      <strong>Form Results:</strong>
      <div id="polarity"></div>
      <div id="agreement"></div>
      <div id="subjectivity"></div>
      <div id="confidence"></div>
    </section>
  </main>

  <footer>
    <p>Cr. Udacity/5207www</p>
  </footer>

  <script>
    // Check that service workers are supported
    if ('serviceWorker' in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener('load', () => {
            navigator.serviceWorker.register('/service-worker.js');
        });
    }
   </script>

</body>

</html>