body {
  background: #ffe2e1;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

#app {
  display: grid;
  color:#c3828b;
  justify-content: center;
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
}

#entryHolder {
  border-radius: 10px;
  background:#f8d9cc;
}

form {
  display: flex;
  justify-content: center;
  width: 50%;
  margin: 0 auto;
}

#entryHolder {
  padding: 15px;
}

#date::before {
  content: "Date : ";
}

#temp::before {
  content: "Temperature : ";
}

#content::before {
  content: "You Feel: ";
}

.headline {
  display: flex;
  justify-content: center;
  font-size: 40px;
}

.title {
  display: flex;
  margin-top: 10px;
  justify-content: center;
  width: 100%;
  font-size: 24px;
}

/*  Basic Styling To Override Default For Basic HTML Elements */

label {
  display: block;
  font-size: 24px;
}

input {
  border-radius: 10px;
  height: 40px;
  width: 400px;
  background: #f8d9cc;
  color: white;
  font-size: 18px;
  font-family: 'Oswald', sans-serif;
  border: none;
}

button {
  border-radius: 10px;
  width: 120px;
  height: 40px;
  background: #c3828b;
  font-size: 26px;
  font-family: 'Oswald', sans-serif;
  border: none;
  box-shadow: 2px 4px 5px #444;
  margin: 10px 0 0 0; 
}

button a{
  text-decoration: none;
  color: white;
}

button.invalid {
  cursor: not-allowed;
}

h1 {
  font-size: 36px;
}

textarea {
  border: none;
  border-radius: 10px;
  width: 400px;
  background: #f8d9cc;
  color: white;
  font-size: 18px;
  font-family: 'Oswald', sans-serif;
}


/* Reset style for HTML element on active to have no border*/

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}


/* Style for Placeholder Text*/

::placeholder {
  /* Firefox, Chrome, Opera */
  color: white;
  font-family: 'Oswald', sans-serif;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: white;
  font-family: 'Oswald', sans-serif;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: white;
  font-family: 'Oswald', sans-serif;
}